@{
    ViewBag.Title = "Logged out";
}

<div class="container text-center center" style="padding-top: 50px;">
    <h2>Login or Register to proceed</h2>
    <a href="@Url.Action("Login", "Account")" class="button center">Login</a>
    <a href="@Url.Action("Register", "Account")" class="button center">Register</a>
</div>
