@model IEnumerable<ChatAura.Models.ChatRoom>

<div class="container chat-rooms">
    <div class="d-flex justify-content-between align-items-center mb-3 center">
        <h2>Chats</h2>
        @Html.ActionLink("Logout", "Logout", "Account", null, new { @class = "button logout-button" })
    </div>

    <p class="center">
        @Html.ActionLink("Create a new room", "CreateRoom", null, new { @class = "button" })
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>Room name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var room in Model)
            {
                <tr>
                    <td>@room.Name</td>
                    <td>
                        @Html.ActionLink("Join", "Room", new { id = room.Id }, new { @class = "button" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
